<p><strong>Mission Statement</strong>:</p>
<p>Recovery on the Harbor, a program of North Suffolk Community
Services, is a member driven, peer-to-peer recovery support center. The
center welcomes all people in recovery from substance use disorder and
those affected by substance use disorder. ROH offers services including,
but not limited to, peer facilitated support groups, job resources and
readiness, sober social events, advocacy, recovery coaching, volunteer
opportunities and Health and Wellness. All services are free of charge
and designed to benefit both those in recovery and the community at
large. The only requirement membership is a commitment to recovery,
active participation in the center, and being 18 years of age or older,
children are allowed but must be accompanied by parents.</p>
