<p><strong>Recovery on the Harbor</strong></p>
<p><em><strong>Position Description</strong></em></p>
<p>TITLE: Peer Leader</p>
<p>REPORTS TO: Volunteer Coordinator/Director</p>
<p><img src="media/image1.jpeg"
style="width:6.5in;height:6.49236in" />SUMMARY: The Peer Leader works as
an integral part of the Team. The Peer Leader will perform but not
limited to the following duties: serve as a role model, mentor,
advocate, and motivator in order to help promote long-term recovery, and
to perform all the essential volunteer duties to Recovery on the Harbor
membership, and community.</p>
<p><u>ESSENTIAL FUNCTIONS</u>:</p>
<p><u>Position Specific Duties:</u></p>
<ul>
<li><p>Provide a model for both members in or seeking recovery and staff
by demonstrating that recovery is possible.</p></li>
<li><p>Share personal recovery experiences in order to foster authentic
peer-to-peer relationships.</p></li>
<li><p>Ongoing education and learning commitment on individual pathways
of recovery, drug, and alcohol treatment system.</p></li>
<li><p>Assist members to identify their personal interests, goals,
strengths and challenges regarding recovery.</p></li>
<li><p>Assist members developing their own, self-directed Wellness Plan
for advancing their recovery and increasing their recovery capital; for
“getting the life they want.”</p></li>
<li><p>Promote self-advocacy by assisting members to have their voices
fully heard; their needs, goals and objectives established as the focal
point of their recovery while receiving community-based
services.</p></li>
<li><p>Be a resource broker</p></li>
<li><p>Support connections to community based, mutual self-help groups.
Provide hope and encouragement for opportunities at varying levels of
involvement in community-based activities (e.g., work, school,
relationships, physical activity, self-directed hobbies, etc.).</p></li>
<li><p>Outreach to individuals in or seeking recovery from substance use
in the community.</p></li>
<li><p>Outreach, orient, and develop relationships with community-based
service providers and agencies.</p></li>
<li><p>Attend and participate at resource fairs and on Substance
Addition Task Force meetings, etc.</p></li>
<li><p>Provide orientation to new members and educate on the
participatory process.</p></li>
<li><p>Learn and utilize recovery-based language (e.g. member not
client, medicated supported recovery not drug replacement,
etc.).</p></li>
<li><p>Provide group facilitation and one on one peer support.</p></li>
<li><p>Respond to crisis by assessing severity of the situation,
de-escalating the member(s), and <em><strong>assist</strong></em> in
resolving the crisis.</p></li>
<li><p>If needed, respond to emergency situations by placing calls to
Fire, Rescue, Police, and Medical, etc.</p></li>
</ul>
<p><u>Administrative Tasks:</u></p>
<ul>
<li><p>Participate in required supervisions, volunteer meetings and
trainings.</p></li>
<li><p>Participate and cooperate in any investigations conducted by
internal and external agencies.</p></li>
</ul>
<p><u>Compliance Requirements</u>:</p>
<ul>
<li><p>Remain awake during your shift at all times.</p></li>
<li><p>Attend all mandatory trainings.</p></li>
<li><p>Adhere to program/project/department requirements and
services.</p></li>
</ul>
<p><u>QUALIFICATION REQUIREMENTS</u>: The Peer Recovery leader must
perform each essential function satisfactorily. Reasonable
accommodations may be made to enable individuals with disabilities to
perform essential functions. The qualifications listed below are
representative of the knowledge/skill and/or ability required.</p>
<ul>
<li><p><img src="media/image1.jpeg"
style="width:6.49764in;height:6.49in" />At least 90 days in recovery;
Must be an active Volunteer; Must be an active member in the center, and
have attended the New Member Orientation; Must have an understanding of
the participatory process and the peer-to-peer model.</p></li>
</ul>
<blockquote>
<p><strong>Volunteer Non-Cash Incentive</strong></p>
</blockquote>
<ul>
<li><p>Monthly Stipend: Recovery on the Harbor will provide two Peer
Leaders</p></li>
</ul>
<blockquote>
<p>with a monthly stipend of $100 in the form of gift cards.</p>
</blockquote>
<ul>
<li><p>Each Peer Leader must volunteer a minimum of 20 hours at the
Recovery Center within the given month.</p></li>
<li><p>At the end of the month, Peer Leaders will submit a timesheet
detailing their hours worked and the activities they participated in.
Upon receipt, the Volunteer Coordinator will verify hours for
compliance, obtain the Center Director’s sign-off, and prepare the gift
cards.</p></li>
<li><p>The gift cards will be presented at the first Community Meeting
of the following month to acknowledge Peer Leaders’ contributions and
encourage ongoing participation in the Recovery on the Harbor
community.</p></li>
</ul>
<p><u>ACKNOWLEDGEMENT</u></p>
<p>I have read this position description and understand my
responsibilities and the knowledge, skill and/or ability required to
satisfactorily perform the essential functions. I understand from time
to time I may be required to perform job functions that are not included
in this position description.</p>
<p>I will abide by all guidelines in the Code of Conduct &amp;
Ethics.</p>
<p>______________________________________________
_____________________________________</p>
<p>Peer Leader Signature Date</p>
<p>______________________________________________
_____________________________________</p>
<p>Staff Signature Date</p>
