<p><img src="media/image1.png"
style="width:1.78125in;height:1.78125in" /></p>
<p><img src="media/image2.png" style="width:2.01894in;height:1.48958in"
alt="C:\Users\kmortimer\AppData\Local\Microsoft\Windows\INetCache\Content.Word\NSCS tumbnail.png" /></p>
<p><strong>WHAT IS A VOLUNTEER?</strong></p>
<p>A volunteer is a person who willingly works on behalf of others, for
a particular cause without payment for their time and services.
Volunteering is a selfless activity, intended to improve quality of
life, but individuals may also volunteer to enhance their own skill
development. Volunteering allows an individual to meet others, network,
and have a fun and rewarding experience.</p>
<p>Peer volunteers are individuals who provide information, guidance and
support to others in their community with whom they share similar life
experiences. They take from their own experiences to reach “people like
me “, they build trust. They act as role models to successfully engage
others and give the confidence to aim for a better way of life.</p>
<p>Community volunteering refers to individuals whose work plays a key
role to improve community enhancement efforts. Volunteers give their
time, commitment, experience, and skill without expecting anything in
return. A volunteer is power of example, and someone who empower
others.</p>
<p>At ROH, a volunteer is an important role that holds a level of
accountability and responsibility. Repeatedly missing shifts may result
in suspension from the volunteer position.</p>
<p><strong>VOLUNTEER RESPONSIBILITES INCLUDE:</strong></p>
<ul>
<li><p>Support staff with the safety of the center and adhere to the
centers “Code of Conduct”.</p></li>
<li><p>Assist with the maintenance of the center.</p></li>
<li><p>Help out with resource tables</p></li>
<li><p>Attend outside events and activities</p></li>
<li><p>Guide and support new members at the center.</p></li>
<li><p>Front desk duties</p></li>
<li><p>Bring to staff member’s attention if someone violates the ‘Code
of Conduct”</p></li>
<li><p>Respect the “Drug Free Zone” rule of the center.</p></li>
<li><p>Clean up after yourself and inform others to do the same</p></li>
<li><p>Participate in activities going on at the center.</p></li>
</ul>
<blockquote>
<p>I have read this position description and understand my
responsibilities. I have the ability to perform the essential
functions.</p>
<p>Volunteer Signature:______________________________________
Date:________________</p>
<p>Volunteer Printed
Name:_____________________________________________________</p>
<p>Staff Signature:_________________________</p>
<p>Availability:</p>
<p>Sunday - Wednesday -</p>
<p>Monday - Thursday -</p>
<p>Tuesday - Friday -</p>
</blockquote>
